.header {
    color: #1A1718;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 29px;
    margin-bottom: 7px;
}
.btnFlex {
    display: flex;
    justify-content: flex-end;
}
.widthDrawer {
    width: 252px;
    margin-left: 24px;
}