.avatar {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    border-color: white;
    margin-right: 12px;
    color:#DEDBDC;
    position: relative;
    background-color: white;
}
.img {
    position: absolute;
    left: 63px;
    top: 65px
}
.blogName {
    color: #1A1718;
    font-weight:600;
    font-size:18px;
    line-height:24px;
    cursor: pointer
}
.website {
    color:#737067;
    font-size:14px;
    line-height:24px;
    margin-bottom:24px
}
.link {
    color: #3677F7
}
.description {
    color:#1A1718;
    font-size:14px;
    line-height:24px
}
.div {
    margin-right: 15px;
}