.card {
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 32px
}
.img {
    width: 300px;
    height: 180px;
    background-color: white;
    margin-bottom: 18px
}
.flex {
    display: flex;
}
.smallImg{
    width: 48px;
    height: 48px ;
    background-color: white;
    border-radius:50%;
    margin-right:12px
}
.title {
    color: #1A1718;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 1px;
    cursor: pointer;
}
.shortDescription {
    color: #797476;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px
}
.data {
    color: #636262;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px
}